* {
  padding: 0;
  margin: 0;
  font-family: "josefin sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  overflow: hidden;
}
body {
  background-color: #081b29;
  color: #ededed;
}

.header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .Name {
  font-size: 3rem;
  font-family: "Young Serif", serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 2px;
}
.header .navbar a {
  letter-spacing: 2px;
  color: #ededed;
  font-size: 1.7rem;
  margin-right: 2.3rem;
  font-weight: 500;
}
.header .navbar a:hover {
  color: aqua;
  transition: 0.5s;
}
.header .sign a {
  border: 2px solid rgb(45, 241, 232);
  border-radius: 5px;
  color: aqua;
  letter-spacing: 2px;
  font-size: 1.7rem;
  background: transparent;
  padding: 5px;
  margin-left: 40px;
}
.header .sign a:hover {
  border: transparent;
  color: transparent;
  transition: 0.5s;
}
.container {
  margin: 10vh;
  border: none;
  font-family: "Young Serif", serif;
  margin-top: 20vh;
  font-size: 2.5rem;
}
.boxes {
  margin-top: 10vh;
  display: flex;
  grid-template: repeat(2, 1fr) / repeat(auto-fit, minmax(100px, 1fr));
}
.box {
  height: 200px;
  border: 2px solid red;
  color: black;
  text-align: center;
  font-size: 30px;
}
.box:nth-child(odd) {
  background-color: rgb(137, 135, 241);
}
.box:nth-child(even) {
  background-color: rgb(2, 253, 241);
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .header .sign a {
    border: transparent;
    color: transparent;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 900px) {
  body {
    background-color: rgb(37, 54, 83);
  }
  .header .sign a {
    border: transparent;
    color: transparent;
    transition: 0.5s;
  }
}
