<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>Header</h1>
        <p>Resize the browser window to see resposnsive</p>
    </div>
    <div class="navbar">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Skill</a>
    </div>
    <div class="row">
        <div class="column">
            <h1>column 1</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem culpa unde tenetur eaque veritatis minima nisi ipsam? Mollitia, eaque, laboriosam dolores quia ex reiciendis provident dolorum ea molestias officiis similique.</p>
        </div>
        <div class="column">
            <h1>column 2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem culpa unde tenetur eaque veritatis minima nisi ipsam? Mollitia, eaque, laboriosam dolores quia ex reiciendis provident dolorum ea molestias officiis similique.</p>
        </div>
        <div class="column">
            <h1>column 3</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem culpa unde tenetur eaque veritatis minima nisi ipsam? Mollitia, eaque, laboriosam dolores quia ex reiciendis provident dolorum ea molestias officiis similique.</p>
        </div>

        
    </div>
    <div class="toollip">
        <h1>Toollip</h1>
        <div class="toollipbox">
            Hover Me
        
        <span class="toollip_text">
            Toolip text
        </span>
    </div>
    <button class="button" style="vertical-align:middle"><span>Hover </span></button>

    </div>

</body>
</html>