.box{
    width: 200px;
    display: inline-block;
    border: 2px solid;
    margin: 8px;
}
.box:hover{
    border: 2px  solid hsl(0, 0%, 54%);
}
.box .inf{
    padding: 10px;
    text-align: center;
}

img{

    width: 100%;
}