.box1{
    font-size: 10rem;
    font-weight: 900;
    text-align: center;
    background-color: hsl(120, 77%, 75%);
    height: 200px;
    width: 200px;
    border: 1px solid;
    margin: 10px;
    transform: translate(100%,100%);
    transform: rotate(140deg);
    transform: skew(-30deg);
    
}
.box2{
    font-size: 10rem;
    font-weight: 900;
    text-align: center;
    background-color: hsl(120, 77%, 75%);
    height: 200px;
    width: 200px;
    border: 1px solid;
    margin: 10px;
    transform: rotate(230deg); 
    transform: skew(20deg);
}
.box3{
    font-size: 10rem;
    font-weight: 900;
    text-align: center;
    background-color: hsl(120, 77%, 75%);
    height: 200px;
    width: 200px;
    border: 1px solid;
    margin: 10px;
    transform: rotate(145deg);
    transform: skew(-20deg);
}