h2{
    font-size: 45px;
    text-align: center;
    color: rgb(141, 78, 78);
    
}
.ht1{
    animation: slideleft;
    animation-duration: 2s;
    /*  animation-timing-function: ease-in; */
    /* animation-iteration-count: 5; */
    animation-direction: alternate;
}

.ht2{
    animation: slideright;
    animation-duration: 5s;
}
.ht3{
    animation: slideup;
    animation-duration: 5s;
}
.ht4{

    animation: slidedown;
    animation-duration: 5s;
}
.ht5{

    animation: roatate;
    animation-duration: 5s;
}
.ht6{
    animation: grow ;
    animation-duration: 2s;

    
}
.ht7{

    animation: shrink;
    animation-duration: 6s;
}
.ht8{
    font-weight: 700;
    font-size: 30px;
position: relative;
animation: my_animation;
animation-duration: 3s;
animation-direction: alternate;
animation-iteration-count: infinite;

/* animation: name duration timing function delay direction; */


}
@keyframes my_animation {
    /* from{color: rgb(206, 7, 7);}  its 0%

    to{color: rgb(9, 107, 192);} its 100%*/ 
    from{
        left: 0px;
        color: red;
    
    }
    to{
        left: 500px;
        color: rgb(100, 10, 245);
    }
     
}
/*
@keyframe animattion_name{
    from  {} //initial frame
    to {}   //end frame
}
*/

@keyframes slideleft{
    from{transform: translateX(300%);}
}

@keyframes slideright {
    from{transform: translateX(-300%);}
}

@keyframes slideup {
    from{transform: translateY(300%);}
}
@keyframes slidedown {
    from{transform: translateY(-300%);}
}
@keyframes roatate {
    /* 100%{transform: rotateZ(360deg);} */
    /* 100%{transform: rotateX(360deg);} */
    50%{transform: rotateY(360deg);}

}
@keyframes grow {
    50%{transform: scale(1.5,1.5);}
    
}
@keyframes shrink{
    50%{transform: scale(.1,.1);}
    
}

