* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
body {
  background-color: rgb(255, 255, 255);
}
.Heading {
  text-align: center;
  animation: down 2s;
}

.btn {
  margin: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background-color: black;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}
.btn:hover {
  background-color: rgb(145, 145, 145);
}
.main_container {
  display: flex;
  background-color: rgb(248, 244, 25);
  align-items: center;
  height: 90vh;
  border-radius: 2%;
  box-shadow: 0.5rem;
  margin: 3rem;
  animation: up 2s 1;
}

.main_container .pic {
  background: url(/Portfolio/img/aziz.png) no-repeat;
  background-size: cover;
  border-top-right-radius: 5%;
  border-end-end-radius: 5%;
  height: 30rem;
  width: 20rem;
}
.container {
  color: black;
  padding: 1rem;
}
.container p {
  padding: 0.5rem;
  font-weight: 600;
  margin-right: 0.5rem;
}

.education {
  font-weight: 600;
  padding: 0.5rem;
}

.experience {
  font-weight: 600;
  padding: 0.5rem;
}
@keyframes up {
  from {
    transform: translateY(200%);
  }
}
@keyframes down {
  from {
    transform: translateY(-200%);
  }
}
@media (max-width: 1040px) {
  .main_container {
    display: flex;
    flex-direction: column;
  }
  .main_container .pic {
    height: 8rem;
    width: 8rem;
    border-radius: 10%;
    background-size: cover;
  }
  .box {
    flex-direction: column;
  }
  .education {
    margin: 0.5rem;
    width: 100%;
  }
  .experience {
    margin: 0.5rem;
    width: 100%;
  }
}
